@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fonts.css');

#root {
  max-width: 100vw;
  min-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: #000000;
}
